@import './header';
@import './index';
@import './footer';
@import './about';
@import './profile';
@import './skill';
@import './todo';

$main-bg-color: #222;
$main-color: #fff;

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    overflow: hidden;
    margin: 0 auto;
}

.main {
    background-color: $main-bg-color;
    color: $main-color;
}

hr {
    border-top: solid 1px #225566 !important;
    width: 96%;
    height: 1px;
    margin: 0 auto;
}

a {
    color: $main-color !important;
}

#photo, #about, #profile, #skill, #todo {
    padding: 20px 0;
    background-color: $main-bg-color;
    color: $main-color;
}

header, #index, #about, #profile, #skill, #todo, footer {
    -webkit-animation-name: main-in;
            animation-name: main-in;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    opacity: 1;
}

@-webkit-keyframes main-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes main-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}